<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <%= "Dear #{@name}!" %>

    <h1>Hello from Ror4 App</h1>
    <p>The email was sent on <%= Time.now %></p>
  </body>
</html>